<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <style>
        .datatable {
            position: relative;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            color: rgb(96, 98, 102);
            overflow: hidden;
            flex: 1 1 0%;
        }

        .datatable td, .datatable th {
            padding: 12px 0;
            min-width: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            position: relative;
            text-align: left;
        }
    </style>
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>超级管理
            <small>菜单管理</small>
        </h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>超级管理</el-breadcrumb-item>
            <el-breadcrumb-item>菜单管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="菜单名称/菜单路径/菜单Icon" v-model="pagination.queryString" style="width: 200px;"
                          class="filter-item" @keyup.enter.native="handleFilter"></el-input>
                <el-button @click="search()" class="dalfBut">查询</el-button>
                <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
            </div>
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序号"></el-table-column>
                <el-table-column prop="name" label="菜单名称" align="center"></el-table-column>
                <el-table-column prop="path" label="菜单路径" align="center"></el-table-column>
                <el-table-column prop="icon" label="菜单Icon" align="center"></el-table-column>
                <el-table-column prop="description" label="菜单描述" align="center"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>

            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="新增菜单" :visible.sync="dialogFormVisible">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="父菜单基本信息" name="first">
                                <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                                         label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="菜单名称"  prop="name" >
                                                <el-input v-model="formData.name"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="菜单路径"  prop="path">
                                                <el-input v-model="formData.path"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="图标"  prop="icon">
                                                <el-select v-model="formData.icon" id="MenuIcon">
                                                    <el-option label="el-icon-platform-eleme"
                                                               value="el-icon-platform-eleme"></el-option>
                                                    <el-option label="el-icon-eleme" value="el-icon-eleme"></el-option>
                                                    <el-option label="el-icon-delete-solid"
                                                               value="el-icon-delete-solid"></el-option>
                                                    <el-option label="el-icon-s-tools"
                                                               value="el-icon-s-tools"></el-option>
                                                    <el-option label="el-icon-setting"
                                                               value="el-icon-setting"></el-option>
                                                    <el-option label="el-icon-phone-outline"
                                                               value="el-icon-phone-outline"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="菜单优先级"  prop="priority">
                                                <el-input v-model="formData.priority"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="描述">
                                                <el-input v-model="formData.description" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="子菜单" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>菜单名称</th>
                                            <th>菜单Url</th>
                                            <th>菜单说明</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in tableData">
                                            <td>
                                                <input :id="c.id" v-model="childrenIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.linkUrl}}</label></td>
                                            <td><label :for="c.id">{{c.description}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
            <!-- 编辑标签弹层 -->
            <div class="add-form">
                <el-dialog title="编辑检查组" :visible.sync="dialogFormVisible4Edit">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="父菜单基本信息" name="first">
                                <el-form ref="editAddForm" :model="formData" :rules="rules" label-position="right"
                                         label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="菜单名称"  prop="name">
                                                <el-input v-model="formData.name"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="菜单路径"  prop="path">
                                                <el-input v-model="formData.path" :disabled="true"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="图标"  prop="icon">
                                                <el-select v-model="formData.icon" id="MenuIcon">
                                                    <el-option label="el-icon-platform-eleme"
                                                               value="el-icon-platform-eleme"></el-option>
                                                    <el-option label="el-icon-eleme" value="el-icon-eleme"></el-option>
                                                    <el-option label="el-icon-delete-solid"
                                                               value="el-icon-delete-solid"></el-option>
                                                    <el-option label="el-icon-s-tools"
                                                               value="el-icon-s-tools"></el-option>
                                                    <el-option label="el-icon-setting"
                                                               value="el-icon-setting"></el-option>
                                                    <el-option label="el-icon-phone-outline"
                                                               value="el-icon-phone-outline"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="菜单优先级"  prop="priority">
                                                <el-input v-model="formData.priority"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="描述">
                                                <el-input v-model="formData.description" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="子菜单" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>菜单名称</th>
                                            <th>菜单Url</th>
                                            <th>菜单说明</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in tableData">
                                            <td>
                                                <input :id="c.id" v-model="childrenIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.linkUrl}}</label></td>
                                            <td><label :for="c.id">{{c.description}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                        <el-button type="primary" @click="handleEdit()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    var vue = new Vue({
        el: '#app',
        data: {
            activeName: 'first',//添加/编辑窗口Tab标签名称
            pagination: {//分页相关属性
                currentPage: 1,
                pageSize: 10,
                total: 100,
                queryString: null,
            },
            dataList: [],//列表数据
            formData: {},//表单数据
            tableData: [],//新增和编辑表单中对应的所有菜单列表
            childrenIds: [],//新增和编辑表单中检查项对应的复选框，基于双向绑定可以进行回显和数据提交
            dialogFormVisible: false,//控制添加窗口显示/隐藏
            dialogFormVisible4Edit: false,//控制编辑窗口显示/隐藏
            rules: {//校验规则
                name: [{required: true, message: '菜单名不能为空', trigger: 'blur'}],
                path: [{required: true, message: '菜单路径不能为空', trigger: 'blur'}],
                icon: [{required: true, message: '性图标不能为空', trigger: 'blur'}],
                priority: [{required: true, message: '菜单优先级不能为空', trigger: 'blur'}],
            }
        },
        created() {
            this.findPage();
        },
        methods: {
            //编辑
            handleEdit() {
                //先判断是否有选中,如果没有选中检查项则进行提示
                if (this.childrenIds.length == 0) {
                    //没有选中,则不提交
                    //提示
                    this.$message({
                        message: "至少选择一个子菜单",
                        type: 'error'
                    });
                    return false
                }

                this.$refs['editAddForm'].validate((valid) => {
                    if (valid) {
                        //更新检查组
                        //携带两部分信息进行更新
                        axios.post("/menu/updateMenu?childrenIds=" + this.childrenIds, this.formData).then(res => {
                            this.$message({
                                message: res.data.message,
                                type: res.data.flag ? 'success' : 'error'
                            });
                            if (res.data.flag) {
                                //更新成功
                                //关闭窗口
                                this.dialogFormVisible4Edit = false
                                //刷新页面
                                this.findPage()
                            }
                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                })

            },
            search() {
                this.pagination.queryString = (this.pagination.queryString).trim()
                //查询的时候,设置当前页码为1
                console.log(this.pagination.queryString)
                this.pagination.currentPage = 1
                this.findPage()
            },
            //添加
            handleAdd() {
                //先判断是否有选中,如果没有选中检查项则进行提示
                if (this.childrenIds.length == 0) {
                    //没有选中,则不提交
                    //提示
                    this.$message({
                        message: "至少选择一个子菜单",
                        type: 'error'
                    });
                    return false
                }
                this.$refs['dataAddForm'].validate((valid) => {
                    if (valid) {
                        //没校验,发送ajax请求
                        axios.post("/menu/saveMenu?childrenIds=" + this.childrenIds, this.formData).then(res => {
                            this.$message({
                                message: res.data.message,
                                type: res.data.flag ? 'success' : 'error'
                            });
                            if (res.data.flag) {
                                //新增成功
                                this.dialogFormVisible = false
                                this.findPage()
                            }
                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                })

            },
            //分页查询所有父菜单
            findPage() {
                //发送Ajax请求
                axios.post("/menu/findAllParentMenu", this.pagination).then(res => {
                    //处理响应
                    if (res.data.flag) {
                        //查询成功，则将数据赋值到dataList
                        this.dataList = res.data.data.pageList
                        this.pagination.total = res.data.data.total
                    } else {
                        this.$message({
                            message: res.data.message,
                            type: 'error'
                        });
                    }
                })
            },
            // 重置表单
            resetForm() {
                this.formData = {}
                this.tableData = []
                this.activeName = 'first'
                this.childrenIds = []
            },
            // 弹出添加窗口
            handleCreate() {
                //弹出窗口
                this.dialogFormVisible = true
                //清空窗口
                this.resetForm()
                //查询所有检查项信息,并显示到弹出框的检查项信息
                //因为是查询检查项所以要发送到检查项
                //加载所有检查项
                this.loadChildMenus()
            },
            //加载所有菜单项
            loadChildMenus() {
                axios.get("/menu/findAllMenus").then(res => {
                    if (res.data.flag) {
                        //查询成功
                        this.tableData = res.data.data
                    } else {
                        this.$message({
                            message: res.data.message,
                            type: 'error'
                        });
                    }
                })
            },

            // 弹出编辑窗口
            handleUpdate(row) {
                //获取当前检查组的id
                var id = row.id
                //弹出窗口
                this.dialogFormVisible4Edit = true
                //清空窗口
                this.resetForm()
                //发送异步请求进行数据回显
                //检查组信息回显:查询到检查组信息赋值到formData中
                axios.get("/menu/findParentMenu/" + id).then(res => {
                    //处理响应数据回显
                    if (res.data.flag) {
                        //查询成功
                        this.formData = res.data.data;
                        //加载所有检查项,以供用户选择
                        this.loadChildMenus()
                        //加载选中的所有检查项,再发送异步请求
                        axios.get("/menu/findAllCheckedChildMenu/" + id).then(response => {
                            if (response.data.flag) {
                                //查询成功
                                this.childrenIds = response.data.data
                            } else {
                                this.$message({
                                    message: response.data.message,
                                    type: 'error'
                                });
                            }
                        })

                    } else {
                        this.$message({
                            message: res.data.message,
                            type: 'error'
                        });
                    }
                })

            },
            //切换页码
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage
                this.findPage()
            },
            // 删除
            handleDelete(row) {
                //删除检查组
                var id = row.id
                //要进行防呆操作

                //提示是否删除,防止误操作删除
                this.$confirm('此操作将[永久删除]该项, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //确定删除,则发送请求
                    axios.post("/menu/deleteMenu/" + id).then(res => {
                        this.$message({
                            message: res.data.message,
                            type: res.data.flag ? 'success' : 'error'
                        });
                        if (res.data.flag) {
                            //删除成功,删除页面
                            this.findPage()
                        }
                    })
                }).catch(() => {
                    //取消删除,这里不做任何操作
                });

            }
        }
    })
</script>
</html>
